body {
  padding-top:70px;
}
.container {
	width:100%;
}
td.total {
	background: rgba(0,0,0,.1);
}
tr.item td.item-label {
	padding-left:20px;
}
#divisible_income {
	font-weight: bold;
}
.bold {
	font-weight: bold;
}
.stat-font {
	font-weight: bold;
	font-size:25px;
	vertical-align: middle;
}

.glyphicon-ok.green {
	color:green;
}
.glyphicon-remove.red {
	color:red;
}
.allcaps {
	text-transform: uppercase;
}
.font200p {
	font-size: 200%;
}
.font195p {
	font-size: 195%;
}
.font190p {
	font-size: 190%;
}
.font185p {
	font-size: 185%;
}
.font180p {
	font-size: 180%;
}
.font175p {
	font-size: 175%;
}
.font170p {
	font-size: 170%;
}
.font165p {
	font-size: 165%;
}
.font160p {
	font-size: 160%;
}
.font155p {
	font-size: 155%;
}
.font150p {
	font-size: 150%;
}
.font145p {
	font-size: 145%;
}
.font140p {
	font-size: 140%;
}
.font135p {
	font-size: 135%;
}
.font130p {
	font-size: 130%;
}
.font125p {
	font-size: 125%;
}
.font120p {
	font-size: 120%;
}
.font115p {
	font-size: 115%;
}
.font110p {
	font-size: 110%;
}
.font105p {
	font-size: 105%;
}
.font95p {
	font-size: 95%;
}
.font90p {
	font-size: 90%;
}
.font85p {
	font-size: 85%;
}
.font80p {
	font-size: 80%;
}
.font75p {
	font-size: 75%;
}
.font70p {
	font-size: 70%;
}
.font65p {
	font-size: 65%;
}
.font60p {
	font-size: 60%;
}
.font55p {
	font-size: 55%;
}
.font50p {
	font-size: 50%;
}
.font45p {
	font-size: 45%;
}
.font40p {
	font-size: 40%;
}